<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748425756908-4140r3ugom3h6v92qlo3olmcg0j0jv8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748425756908-4140r3ugom3h6v92qlo3olmcg0j0jv8i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>748425756908-dm9lvn8mih0fqphm18phg7n6b6j6ql2f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYUjdlXo4twcsV2_DGQjbkx8BNuT_gy80</string>
	<key>GCM_SENDER_ID</key>
	<string>748425756908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danTech.dtcManager</string>
	<key>PROJECT_ID</key>
	<string>dtc-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>dtc-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748425756908:ios:51e9d16f2c904f1063a5c9</string>
	<key>DATABASE_URL</key>
	<string>https://dtc-manager-default-rtdb.firebaseio.com</string>
</dict>
</plist>